@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root{
    --primary-color: #2274A5;
    --secondary-color: #E7DFC6;
    --thirdiary-color: #131B23;

    --heading-font: 'Open Sans';
    --paragraph-font: 'Open Sans';

    --header-back-color: #816C61;

    --nav-background-color: #816C61;
    --nav-link-color: #131B23;
    --nav-hover-link-color: #2274A5;
    --nav-hover-background-color: #E7DFC6;
}

*{
    font-family: 'Open Sans';
}

body {
    padding: 0 15% 0 15%;
}

header{
    display: grid;
    padding: 2rem;
    background-color: var(--header-back-color);
    align-items: center;
    grid-template-columns: 100px 1fr 2fr;
}

header img{
    width: 80px;
    height: auto;
}

header h1{
    color: var(--secondary-color);
    order: 1;
    font-size: 1.5rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    order: 2;
}

header nav a{
    color: var(--nav-link-color);
    text-decoration: none;
    display: block;
}

h1,h2{
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

footer nav a {
    color: var(--nav-link-color);
    text-decoration: none;
}

footer nav img {
    width: auto;
    height: 30px;
}

/* ******* */
/* CLASSES */
/* ******* */

/* Hero Class */
.hero {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: .7;
}

.hero h1 {
    position: absolute;
    color: var(--secondary-color);
    top: 60px;
    left: 0%;
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(34, 116, 165, 0.8);
}

.hero article {
    position: absolute;
    color: var(--thirdiary-color);
    background-color: rgba(129, 108, 97, 0.8);
    top: 200px;
    left: 5%;
    width: 90%;
}

.hero article p {
    padding: 10px;
    color: var(--secondary-color);
    font-weight: bold;
}

.hero article img {
    float: right;
    height: 15rem;
    width: auto;
    opacity: 1.0;
}

/* Hero Class */
.hero2 {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.hero2 img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: .7;
}

.hero2 h1 {
    position: absolute;
    color: var(--secondary-color);
    top: 70px;
    left: 0%;
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(34, 116, 165, 0.8);
}

/* hero 3 */
.hero3 {
    width: 100%;
    height: auto;
}

.hero3 p {
    padding: 0 10px 0 10px;
    color: var(--primary-color);
    text-align:center;
    font-size: 1.4rem;
}

/* History Class */

.history {
    margin: 3rem 0 3rem 0;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 40% 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.history h2 {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

.history img {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 70%;
}

.history .history-one {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: left;
}

.history .history-two {
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: left;
}

/* Adventure Class */

.adventure {
    display: grid;
    margin: 3rem 0 3rem 0;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.adventure h2 {
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: center;
}

.adventure figure {
    grid-row: 2/3;
    text-align: center;
}

.adventure figure img{
    width: 100%;
}

.adventure figcaption {
    grid-row: 2/2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
}

/* Contact Information */
.contact-information {
    margin: 3rem 0 3rem 0;
    padding: 0;
}

.contact-information p{
    color: var(--thirdiary-color);
    text-align: center;
}

/* Employees Class */

.employees {
    display: grid;
    margin: 3rem 0 3rem 0;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.employees h2 {
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: center;
}

.employees figure {
    grid-row: 2/3;
    text-align: center;
}

.employees figure img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.employees figcaption {
    grid-row: 2/2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
}

/* Company Information Class */

.company-information {
    display: grid;
    margin: 3rem 0 3rem 0;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 3fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.company-information h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
}

.company-information {
    grid-row: 2/3;
    color: #000;
}

.company-information .ci-column1 {
    grid-column: 1/2;
    text-align: left;
}
.company-information .ci-column2 {
    grid-column: 2/3;
}
.company-information .ci-column2 iframe {
    width: 500px;
    height: 300px;
    /*border: 0;*/
}

/* Form */

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--header-back-color);
    display: grid;
}

form fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

form legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

form label, input, button, select, textarea {
    font-family: roboto, Arial, sans-serif;
}

form label {
    text-align: left;
    padding-right: 1rem;
}

form label .question-number{
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

form input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

form input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

form textarea {
    height: 6em;
}

form button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

form button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

form .form-item {
    display: grid;
    align-items: center;
}

/* Columns 1 class */

form .columns{
    grid-template-rows: 50px 1fr;
}

form .columns label  {
    grid-row: 1/2;
}

form .columns .radios {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 50px 1fr;
}

form .columns .radios input[type="radio"] {
    grid-column: 1/2;
    width: 18px;
}

form .columns .radios p {
    color: #000;
    grid-column: 2/3;
}

/* Columns 2 class */

form .columns2{
    grid-template-columns: 50px 1fr;
}

form .columns2 input[type="checkbox"]  {
    grid-column: 1/2;
    width: 50px;
}

form .columns2 p {
    color: #000;
    grid-column: 2/3;
    text-align: left;
}

/* Trips */
.all-trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.trips {
    margin: 1rem 0 1rem 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 40% 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.trips h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
}

.trips img {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 70%;
}

.trips .history-one {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: left;
}

/* trips-table */

.trips-table {
    display: grid;
    margin: 3rem 0 3rem 0;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 25% 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.trips-table h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
}

.trips-table img {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 70%;
}

.trips-table table {
    margin: 0;
    padding: 0;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
}

.trips-table thead {
    background: var(--header-back-color);
}

.trips-table thead, .trips-table tbody {
    margin: 0;
    padding: 0;
}
.trips-table tr {
    width: 100%;
    border: 1px solid #000;
}
.trips-table td, .trips-table th {
    border: 1px solid #000;
}
.trips-table .trip-number {
    text-align: center;
}

/* Newsletter form */
.newsletter {
    margin: 0;
    padding: 10px;
}

/* Heading Title Class */
.hero-title {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.hero-title img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: .7;
}

.hero-title h1 {
    position: absolute;
    color: var(--secondary-color);
    top: 60px;
    left: 0%;
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-color: rgba(34, 116, 165, 0.8);
}

.hero-title article {
    position: absolute;
    color: var(--thirdiary-color);
    background-color: rgba(129, 108, 97, 0.5);
    top: 200px;
    left: 5%;
    width: 90%;
}

.hero-title article p {
    padding: 10px;
    color: var(--thirdiary-color);
    font-weight: bold;
    text-align: center;
}

/* inde trip section Class */
.trip-section {
    position: relative;
    width: 100%;
    background: var(--secondary-color);
    display: grid;
    margin: 3rem 0 3rem 0;
    padding: 3rem 0 3rem 0;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.trip-section h2{
    grid-row: 1/2;
    grid-column: 1/4;
}

.trip-section a{
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 10px;
    min-width: 150px;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.trip-section a:hover{
    background: var(--nav-background-color);
    color: #fff;
}

/* index content section Class */
.index-content {
    position: relative;
    width: 100%;
    display: grid;
    margin: 3rem 0 3rem 0;
    padding: 3rem 0 3rem 0;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.index-content h2{
    grid-row: 1/2;
    grid-column: 1/3;
}

.content-div1 {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: left;
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.content-div1 img{
    grid-column: 1/2;
    height: auto;
    width: 100%;
}
.content-div1 p{
    grid-column: 2/3;
    text-align: left;
    padding: 2rem;
}

.content-div2 {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.content-div2 p{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    padding: 2rem;
}
.content-div2 img{
    grid-row: 1/2;
    grid-column: 2/3;
    height: auto;
    width: 100%;
}
